<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Stylesheets -->
    <div th:remove="tag" th:fragment="style">
        <link rel="stylesheet" th:href="@{/assets/font.awesome.css}">
        <link rel="stylesheet" th:href="@{/assets/not_found_style.css}">

        <title>صفحه مورد نظر پیدا نشد</title>
    </div>
</head>

<body id="checkoutPage">

<!-- Content -->
<div th:remove="tag" th:fragment="content">
    <div id="notfound">
        <div class="notfound-bg"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>404!</h1>
            </div>
            <h2>!صفحه‌ای که دنبال آن بودید پیدا نشد</h2>
            <a href="/" class="home-btn">صفحه اصلی</a>
            <a href="/info/contactUs" class="contact-btn">تماس با ما</a>
        </div>
    </div>
</div>


<div th:remove="tag" th:fragment="script">

    <script th:src="@{/assets/oldJs/lib/map/ol.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/pages/addressMap.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/pages/checkOut/checkOut.js}" type="text/javascript"></script>

</div>
</body>

</html>