<!doctype html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org" xmlns:cellpadding="http://www.w3.org/1999/xhtml">


<div th:remove="tag" th:fragment="tips">
<section class="justify-content-center font-weight-bold">
        <span class="mt-2">۱- شرکت در صورت تماس مستقیم مشتری با تکنسین هیچگونه مسثولیتی نداشته و در صورت تماس دستگاه از گارانتی خارج خواهد شد.</span>
        <br>
        <span class="mt-2">۲- اجناس این فاکتور به قیمت روز تا تسویه حساب کامل به صورت امانت در اختیار خریدار است.</span>
        <br>
        <span class="mt-2">۳- در صورت تاخیر پرداخت قیمت ها به روز محاسبه می‌گردد.</span>
        <br>
        <span class="mt-2">۴- هزینه حمل از انبار به عهده مشتری است.</span>
        <br>
        <span class="mt-2">۵- هزینه‌های جانبی (لوله پایه جوشکاری و لوازم مصرفی نصاب و ...) مربوط به خریدار است.</span>
        <br>
        <span class="mt-2">۶-قیمت درج شده محصولات با احتساب مالیات و عوارض ارزش افزوده است.</span>
        <br>
        <span class="mt-2">۷-در صورت پرداخت غیر نقدی، پس از تکمیل فرآیند خرید، کارشناسان ما با شما تماس خواهند گرفت.</span>
        <br>
        <span class="mt-2">۸-در صورت پرداخت غیر نقدی، قیمت کالا براساس نرخ روز محاسبه میگردد.</span>
</section>
</div>

</html>