<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer id="footer">
        <div class="footer">
            <div class="footer-section1">
                <div class="footer-desc col-8">
                    <a href="//"><img th:src="@{/assets/behta_logo/SVG/behta_first.svg}" alt="behta_first.svg" title="بهتاتهویه"></a>
                    <div class="text">
                        <p>
                            <span>گروه بهتا</span>
                            فعالیت خود را از سال <span>۱۳۵۸</span> با ورود به عرصه فروش و خدمات‌دهی در زمینه لوازم خانگی آغاز کرد.
                        </p>
                        <p>
                            در این سال‌ها با اخذ نمایندگی‌های معتبر و خدمات‌دهی مناسب توانست فعالیت خود را گسترش دهد. در سال <span>۱۳۷۳</span> فعالیت خود را در صنعت تجهیزات <span>تهویه‌مطبوع</span> و ارائه خدمات پس از فروش این محصولات آغاز کرد. با گذشت زمان، موفق شد سهم عمده‌ای از بازار را از آن خود سازد. مهندسان و متخصصین مجرب فعال در بخش خدمات این شرکت نیز موفق شدند مأموریت مهم خدمات‌رسانی به مشتریان و همکاران را به بهترین نحو پیش ببرند و رضایت ایشان را جلب کنند.
                        </p>
                        <p>
                            با رشد بازار و تقاضای مشتریان، سیاست شرکت بر آن شد که در جهت رشد و توسعه فعالیت‌های خود، گام‌های بلندتری بردارد. بنابراین ابتدای سال <span>۱۳۸۰</span>، آغاز فعالیت گروه بهتا در زمینه فروش و خدمات <span>سیستم‌های تهویه مرکزی (CAC)</span> گردید.
                        </p>
                        <p>
                            این شرکت با اخذ <span>نمایندگی</span> از <span>برند</span>های <span>معتبر</span>، به صورت تخصصی در این زمینه شروع به خدمت‌رسانی در سطح مجموعه استان‌های <span>خراسان رضوی</span>، <span>خراسان شمالی</span>، <span>خراسان جنوبی</span> و همچنین شهرهای همجوار نمود.
                        </p>
                    </div>
                </div>
                <div class="footer-desc-mobile">
                    <div class="text">
                        <p>
                            <span>گروه بهتا</span>
                            فعالیت خود را از سال <span>۱۳۵۸</span> با ورود به عرصه فروش و خدمات‌دهی در زمینه لوازم خانگی آغاز کرد.
                        </p>
                        <p>
                            در این سال‌ها با اخذ نمایندگی‌های معتبر و خدمات‌دهی مناسب توانست فعالیت خود را گسترش دهد. در سال <span>۱۳۷۳</span> فعالیت خود را در صنعت تجهیزات <span>تهویه‌مطبوع</span> و ارائه خدمات پس از فروش این محصولات آغاز کرد. با گذشت زمان، موفق شد سهم عمده‌ای از بازار را از آن خود سازد. مهندسان و متخصصین مجرب فعال در بخش خدمات این شرکت نیز موفق شدند مأموریت مهم خدمات‌رسانی به مشتریان و همکاران را به بهترین نحو پیش ببرند و رضایت ایشان را جلب کنند.
                        </p>
                        <p>
                            با رشد بازار و تقاضای مشتریان، سیاست شرکت بر آن شد که در جهت رشد و توسعه فعالیت‌های خود، گام‌های بلندتری بردارد. بنابراین ابتدای سال <span>۱۳۸۰</span>، آغاز فعالیت گروه بهتا در زمینه فروش و خدمات <span>سیستم‌های تهویه مرکزی (CAC)</span> گردید.
                        </p>
                        <p>
                            این شرکت با اخذ <span>نمایندگی</span> از <span>برند</span>های <span>معتبر</span>، به صورت تخصصی در این زمینه شروع به خدمت‌رسانی در سطح مجموعه استان‌های <span>خراسان رضوی</span>، <span>خراسان شمالی</span>، <span>خراسان جنوبی</span> و همچنین شهرهای همجوار نمود.
                        </p>
                    </div>
                    <div class="accordion accordion-flush" id="footer-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    مطالعه بیشتر
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#footer-accordion">
                                <div class="accordion-body">
                                    <p>
                                        به زودی پوشش‌دهی سایر مناطق نیز آغاز می‌شود.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-valid col-4">
                    <figure>
                        <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=513226&Code=c6G7GnNpFgogIqOkZICMsZxyaOS5BVRk'>
                            <img referrerpolicy='origin' th:src="@{/assets/images/10.svg}" alt='' style='cursor:pointer' code='c6G7GnNpFgogIqOkZICMsZxyaOS5BVRk'>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="footer-section2">
                <div class="footer-social col-2">
                    <!--                <a class="telegram" href="https://t.me/behtatahvie" target="_blank">-->
                    <!--                    <img th:src="@{/assets/images/icons/11.svg}" alt="icons_1102">-->
                    <!--                </a>-->
                    <!--                <a class="instagram" href="https://www.instagram.com/behtatahvie" target="_blank">-->
                    <!--                    <img th:src="@{/assets/images/icons/12.svg}" alt="text_behta">-->
                    <!--                </a>-->
                    <!--                <a class="linkedin" href="https://www.linkedin.com/company/behtatahvie" target="_blank">-->
                    <!--                    <img th:src="@{/assets/images/icons/linkedin.svg}" alt="text_link">-->
                    <!--                </a>-->
                    <!--                <a class="whatsapp" href="#">-->
                    <!--                    <img th:src="@{/assets/images/icons/13.svg}" alt="text_13svg">-->
                    <!--                </a>-->
                </div>
                <div class="footer-call col-5">
                    <div class="footer-phone">
                        <span>شماره تماس:</span>
                        <a href="tel:+985138454040" dir="ltr">05138454040</a>
                    </div>
                    <div class="footer-mail">
                        <!--                    <span>آدرس ایمیل:</span>-->
                        <!--                    <a href="mailto:info@behtatahvie.com" type="email">info@behtatahvie.com</a>-->
                    </div>
                </div>
                <!--            <div class="footer-app col-5">-->
                <!--                <a href="#"><img th:src="@{/assets/images/12.svg}" alt="text_12_svg"></a>-->
                <!--                <a href="#"><img th:src="@{/assets/images/13.svg}" alt="text_13_svg"></a>-->
                <!--                <a href="#"><img th:src="@{/assets/images/14.svg}" alt="text_14_svg"></a>-->
                <!--                <a href="#"><img th:src="@{/assets/images/31.svg}" alt="text_31svg_r"></a>-->
                <!--            </div>-->
            </div>
            <div class="footer-section2-mobile">
                <div class="footer-social">
                    <!--                <span>ما را در شبکه‌های اجتماعی دنبال کنید</span>-->
                    <div class="footer-social-icon">
                        <!--                    <a class="telegram" href="https://t.me/behtatahvie" target="_blank">-->
                        <!--                        <img th:src="@{/assets/images/icons/11.svg}" alt="ttext_11_svg">-->
                        <!--                    </a>-->
                        <!--                    <a class="instagram" href="https://www.instagram.com/behtatahvie" target="_blank">-->
                        <!--                        <img th:src="@{/assets/images/icons/12.svg}" alt="tc_12_svg">-->
                        <!--                    </a>-->
                        <!--                    <a class="linkedin" href="https://www.linkedin.com/company/behtatahvie" target="_blank">-->
                        <!--                        <img th:src="@{/assets/images/icons/linkedin.svg}" alt="text_lin_svg">-->
                        <!--                    </a>-->
                        <!--                    <a class="whatsapp" href="#">-->
                        <!--                        <img th:src="@{/assets/images/icons/13.svg}" alt="text_insta">-->
                        <!--                    </a>-->
                    </div>
                </div>
                <div class="footer-call">
                    <div class="footer-mail">
                        <!--                    <span>آدرس ایمیل:</span>-->
                        <!--                    <a href="mailto:info@behtatahvie.com">info@behtatahvie.com</a>-->
                    </div>
                    <div class="footer-phone">
                        <span>شماره تماس:</span>
                        <a href="tel:+989105501184" dir="ltr">0910 550 1184</a>
                    </div>
                </div>
            </div>
            <div class="footer-section3-mobile">
                <!--            <span>تخفیف‌های جذاب را در اپلیکیشن دنبال کنید!</span>-->
                <!--            <div class="footer-app">-->
                <!--                <a href="#"><img th:src="@{/assets/images/12.svg}" alt="تخفیف"></a>-->
                <!--                <a href="#"><img th:src="@{/assets/images/13.svg}" alt="اپلیکیشن"></a>-->
                <!--                <a href="#"><img th:src="@{/assets/images/14.svg}" alt="تخفیف‌های جذاب"></a>-->
                <!--                <a href="#"><img th:src="@{/assets/images/31.svg}" alt="تخفیف‌های جذاب را در اپلیکیشن دنبال کنید"></a>-->
                <!--            </div>-->
            </div>
            <div class="footer-section3">
                <div class="footer-services col">
                    <h4>خدمات مشتریان</h4>
                    <a class="col-4" href="/info/aboutUs">درباره ما</a>
                    <a class="col-4" href="/info/privacyPolicy">حریم خصوصی و امنیت</a>
                    <a class="col-4" href="/info/termsOfUse">قوانین وب‌سایت</a>
                </div>
                <div class="footer-guide col">
                    <h4>راهنمای خرید</h4>
                    <a class="col-4" href="/info/termsOfUse">نحوه ثبت سفارش</a>
                    <a class="col-4" href="/info/contactUs">تماس با ما</a>
                    <a class="col-4" href="/info/faq">سوالات متداول</a>
                </div>
                <div class="footer-tag col">
                    <h4>دسته‌بندی‌ها</h4>
                    <span class="tags d-flex flex-wrap">
                    <span class="tags d-flex flex-wrap">
                        <section th:if="${category} != null" th:each="cat, iter:${category}" th:remove="tag">
                            <section th:each="ct, iter:${cat.children}" th:remove="tag">
                                <a href="/" rel="tag">[[${ct.current.name}]]</a>
                            </section>
                        </section>
                    </span>
                </span>
                </div>
            </div>
            <div class="footer-section4-mobile">
                <div class="footer-services">
                    <span class="font-18">خدمات مشتریان</span>
                    <a href="/info/aboutUs">درباره ما</a>
                    <a href="/info/privacyPolicy">حریم خصوصی و امنیت</a>
                    <a href="/info/termsOfUse">قوانین وب‌سایت</a>
                </div>
                <div class="footer-guide">
                    <span class="font-18">راهنمای خرید</span>
                    <a href="/info/termsOfUse">نحوه ثبت سفارش</a>
                    <a href="/info/contactUs">تماس با ما</a>
                    <a href="/info/faq">سوالات متداول</a>
                </div>
                <div class="footer-tag">
                    <span class="font-16 mt-2">دسته‌بندی‌ها</span>
                    <span class="tags d-flex flex-wrap">
                    <section th:if="${category} != null" th:each="cat, iter:${category}">
                        <section th:each="ct, iter:${cat.children}" th:remove="tag">
                            <a href="/" rel="tag">[[${ct.current.name}]]</a>
                        </section>
                    </section>
                </span>
                </div>
            </div>
            <div class="footer-section1-mobile">
                <div class="footer-valid">
                    <figure>
                        <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=513226&Code=c6G7GnNpFgogIqOkZICMsZxyaOS5BVRk'>
                            <img referrerpolicy='origin' th:src="@{/assets/images/10.svg}" alt='' style='cursor:pointer' code='c6G7GnNpFgogIqOkZICMsZxyaOS5BVRk'>
                        </a>
                    </figure>
                    <figure><a href="https://logo.samandehi.ir/Verify.aspx?id=249846&p=uiwkaodspfvlmcsiaodsgvka" target="_blank"><img th:src="@{/assets/images/11.svg}" alt="11.svg_imgae"></a></figure>
                </div>
            </div>
            <div class="footer-section4">
                <div class="copyright">
                    <p>
                        استفاده از مطالب
                        <a href="/">
                            <strong>فروشگاه اینترنتی بهتاتهویه</strong>
                        </a>
                        فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                    </p>
                    <p>
                        کلیه حقوق این وب‌سایت متعلق به فروشگاه آنلاین
                        <a href="/">
                            <strong>بهتاتهویه</strong>
                        </a>
                        است.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <footer id="loginFooter">
        <div class="col-6">
            <p>کليه حقوق اين سايت متعلق به
                <a href="/">فروشگاه اینترنتی بهتاتهویه</a>
                است.
            </p>
        </div>
        <div class="col-6" style="font-family: sans-serif; text-align:left; direction: ltr;">
            <p><a href="https://behtatahvie.com/">behtatahvie.com</a> - 2021 © Copyright</p>
        </div>
    </footer>
</div>
</body>
</html>


