<!DOCTYPE html>
<html lang="fa"
      dir="rtl"
      xmlns:th="http://www.thymeleaf.org">


<body>
<div th:fragment="content_2" th:remove="tag">
    <div class="icon-boxes">
<!--        <div class="icon-box">-->
<!--            <span class="icon">-->
<!--                <img th:src="@{/assets/images/icons/33.svg}" alt="icon_behta_tahvie">-->
<!--            </span>-->
<!--            <div class="box-item">-->
<!--                <h6 class="box-title">ارسال سریع</h6>-->
<!--                <span class="box-desc"> </span>-->
<!--            </div>-->
<!--        </div>-->
        <div class="icon-box">
            <span class="icon">
                <img th:src="@{/assets/images/icons/34.svg}" alt="icon_behta_tahvie_3">

            </span>
            <div class="box-item">
                <h6 class="box-title">پشتیبانی 24 ساعته</h6>
                <span class="box-desc">پشتیبانی در همه زمان</span>
            </div>
        </div>
        <div class="icon-box">
                <span class="icon">
                    <img th:src="@{/assets/images/icons/35.svg}" alt="icon_behta_tahvie_35">
                </span>
            <div class="box-item">
                <h6 class="box-title">پرداخت ایمن</h6>
                <span class="box-desc">درگاه بانکی معتبر</span>
            </div>
        </div>
        <div class="icon-box">
                <span class="icon">
                    <img th:src="@{/assets/images/icons/36.svg}" alt="icon_behta_tahvie_236">
                    </span>

            <div class="box-item">
                <h6 class="box-title">ضمانت اصل بودن کالا</h6>
                <span class="box-desc">با خیال راحت خرید کنید</span>
            </div>
        </div>
    </div>
</div>


</body>
</html>