<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.thymeleaf.org" xmlns:tbody="http://www.thymeleaf.org">
<div th:fragment="text" th:remove="tag">

    <section th:remove="tag" th:each=" msg,itter : ${msg}" >
        <div class="container" th:classappend="${msg.admin} ? 'right': 'left' " >
        <div class="content" th:style="'border-radius: 15px; margin-right: -60px; background:' + (${msg.admin} ? '#545454;color:white;margin-left:20px;' : 'var(--main-color);color:white;'  + '')"  >
            <span>[[${msg.insertDate}]] - [[${msg.name}]]</span>
            <div class="mt-2" style="white-space: pre;" th:utext="${msg.text}">
            </div>
        </div>
    </div>
    </section>
</div>
</html>