<!doctype html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">


<div th:remove="tag" th:fragment="style">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="author" content="بهتاتهویه">

    <!-- SEO Meta Tags -->
    <meta name="description" content="تماس با بهتاتهویه - تامین کننده انواع چیلرهای صنعتی و تجاری، کولر گازی، تجهیزات تهویه مطبوع.">
    <meta name="keywords" content="        ,تهویه مطبوع, کولر گازی, اسپیلت, چیلر, داکت, بهتا تهویه,بهتاتهویه, فروشگاه اینترنتی بهتاتهویه
    بهتاتهویه, تماس با ما, پشتیبانی بهتاتهویه, شماره تلفن بهتاتهویه, ایمیل بهتاتهویه">

    <!-- Open Graph Meta Tags -->
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="تماس با ما - بهتاتهویه">
    <meta property="og:description" content="تماس با بهتاتهویه - تامین کننده انواع چیلرهای صنعتی و تجاری، کولر گازی، تجهیزات تهویه مطبوع.">
    <meta property="og:url" content="https://shop.behtatahvie.com/contact">
    <meta property="og:site_name" content="بهتاتهویه">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="تماس با ما - بهتاتهویه">
    <meta name="twitter:description" content="تماس با بهتاتهویه - تامین کننده انواع چیلرهای صنعتی و تجاری، کولر گازی، تجهیزات تهویه مطبوع.">
    <meta name="twitter:image" content="https://shop.behtatahvie.com/assets/media/logos/logo-1.png">

    <!-- Favicon -->
    <link rel="icon" href="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png" sizes="32x32">
    <link rel="icon" href="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png" sizes="192x192">
    <meta name="msapplication-TileImage" content="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://shop.behtatahvie.com/contact">

    <!-- Title -->
    <title>تماس با ما - بهتاتهویه</title>

    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/othersPage.css}">
</div>


<body>

<div th:remove="tag" th:fragment="content">

    <div class="content">
        <h1 class="title">تماس با بهتاتهویه</h1>
        <section class="contact box-shadow">
            <p>
                <img th:src="@{/assets/images/icons/19.svg}" alt="بهتاتهویه">
                کاربران عزیز، شما می توانید ابهامات، انتقادات و مشکلات احتمالی در فرآیند خرید و ثبت سفارش از
                <a href="/">فروشگاه اینترنتی بهتاتهویه</a>
                را از طریق روش های ارتباطی زیر با ما در میان بگذارید. <br> لطفاً پیش از تماس با پشتیبانی، پاسخ سوالات خود را در <a href="/info/faq" target="_blank">سوالات متداول</a> بیابید.
            </p>
            <h3 class="title">ارتباط با ما</h3>
            <div class="contact-icons">
                <article>
                    <i class="icon icon-phone-call1"></i>
                    <h6>تلفن پشتیبانی</h6>
                    <a dir="ltr" href="tel:+989105501184">0910 550 1184</a>
                </article>
                <article>
                    <i class="icon icon-whatsapp-2"></i>
                    <h6>پشتیبانی آنلاین</h6>
                    <span>(WhatsApp)</span>
                    <a href="https://api.whatsapp.com/send/?phone=989105501184&text=سلام من نیاز به پشتیبانی دارم" target="_blank">لینک ارتباط آنلاین</a>
                </article>
                <article>
                    <i class="icon icon-email1"></i>
                    <h6>آدرس ایمیل</h6>
                    <a style="font-family: sans-serif;" href="mailto:info@behtatahvie.com">info@behtatahvie.com</a>
                </article>
            </div>
<!--            <h3 class="title">عضویت در شبکه های اجتماعی</h3>-->
            <div class="social-icons">
<!--                <article>-->
<!--                    <i class="icon icon-telegram"></i>-->
<!--                    <h6>تلگرام</h6>-->
<!--                    <a href="https://t.me/behtatahvie" target="_blank">@behtatahvie</a>-->
<!--                </article>-->
<!--                <article>-->
<!--                    <i class="icon icon-instagram-1"></i>-->
<!--                    <h6>اینستاگرام</h6>-->
<!--                    <a href="https://instagram.com/behtatahvie" target="_blank">@behtatahvie</a>-->
<!--                </article>-->
<!--                <article>-->
<!--                    <i class="icon icon-linkedin-1"></i>-->
<!--                    <h6>لینکدین</h6>-->
<!--                    <a href="https://www.linkedin.com/company/behtatahvie/" target="_blank">company/behtatahvie</a>-->
<!--                </article>-->
            </div>
        </section>
    </div>
</div>

<div th:remove="tag" th:fragment="script"></div>

</body>
</html>