<!doctype html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">


<div th:remove="tag" th:fragment="style">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Google Tag Manager -->
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        <title>حریم خصوصی - فروشگاه اینترنتی بهتاتهویه</title>
        <meta name="description" content="فروشگاه اینترنتی  بهتاتهویه">
        <link rel="canonical" href="https://shop.behtatahvie.com/">
        <meta property="og:locale" content="fa_IR">
        <meta property="og:type" content="article">
        <meta property="og:title" content="فروشگاه اینترنتی  بهتاتهویه">
        <meta property="og:description" content="فروشگاه اینترنتی  بهتاتهویه">
        <meta property="og:url" content="https://shop.behtatahvie.com/">
        <meta property="og:site_name" content="فروشگاه اینترنتی  بهتاتهویه">
        <meta property="og:image" content="https://shop.behtatahvie.com//assets/media/logos/logo-1.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:label1" content="زمان تقریبی برای خواندن">
        <meta name="twitter:data1" content="10 دقیقه">
        <!-- / Yoast SEO plugin. -->
        <link rel="icon" href="https://shop.behtatahvie.com//assets/media/logos/favicon.ico" sizes="32x32">
        <link rel="icon" href="https://shop.behtatahvie.com//assets/media/logos/favicon.ico" sizes="192x192">
        <link rel="apple-touch-icon" href="https://shop.behtatahvie.com//assets/media/logos/logo-1.png">
        <meta name="msapplication-TileImage" content="https://shop.behtatahvie.com//assets/behta_logo/BehtaTahvie.png">

    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/othersPage.css}">
</div>


<body>

<div th:remove="tag" th:fragment="content">

    <div class="content">
        <h1 class="title">سیاست های حریم خصوصی بهتاتهویه </h1>
        <div class="box-shadow">
            <p>
                بهتاتهویه  با تاکید بر احترامی که برای حریم شخصی کاربران قائل است، برای خرید، ثبت نظر یا استفاده از برخی امکانات وب‌سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد. برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل مورد نیاز است و از آنجا که کلیه فعالیت‌های
                <a href="/"> بهتاتهویه</a>
                قانونی و مبتنی بر قوانین تجارت الکترونیک صورت می‌گیرد و طی فرآیند خرید، فاکتور رسمی صادر می‌شود، از این رو وارد کردن اطلاعاتی مذکور لازم است. یادآوری می‌شود آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد.
            </p>
            <p>
                بنابراین درج آدرس، ایمیل و شماره تماس‌ همراه توسط مشتری، به منزله مورد تایید بودن صحت آنها است و در صورتی که موارد فوق به صورت صحیح یا کامل درج نشده است،
                <a href="/"> بهتاتهویه</a>
                می‌تواند جهت اطمینان از صحت ثبت اطلاعات، اطلاعات تکمیلی و بیشتری درخواست کند.
            </p>
            <p>
                مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و
                <a href="/"> بهتاتهویه</a>
                تنها برای ارسال همان سفارش، از این اطلاعات استفاده خواهد کرد.
            </p>
            <p>
                همچنین بهتاتهویه  با نصب و یا استفاده از اپلیکیشن با اخذ اجازه از کاربر اطلاعات زیر را به صورت ناشناس از کاربر اخذ می کند. این اطلاعات در حد ضرورت و متناسب با مقاصدی از جمله مطالعه علت گزارش خطا و بهبود اشکالات سیستمی و تجربه کاربری در هنگام استفاده از وبسایت و اپلیکیشن بهتاتهویه  و نیز تحقیقات بازاریابی و ارائه خدمات و پیشنهادات خرید مرتبط تر به کاربران جمع آوری می شود و به نحوی مورد استفاده قرار می‌گیرند که به طور مستقیم به یک شخص حقیقی مشخص و معین مرتبط نباشند.
            </p>
            <p>
                مدل و برند دستگاه، زبان و نوع سیستم عامل دستگاه، شناسه اندروید و شناسه تبلیغاتی اندروید ویژه دستگاه، ip و mac address دستگاه، جست‌وجوهای انجام شده در وب سایت و اپلیکشن بهتاتهویه  و نتایج انتخاب‌شده، مدت و بازه های استفاده کاربر از پلتفرم های
                <a href="/"> بهتاتهویه</a>
                ، برنامه های نصب شده، اطلاعات فنی و گزارش‌های سرور شامل نوع شبکه و نوع و نسخه مرورگر.
            </p>
            <p>
                این اطلاعات تنها توسط بهتاتهویه  استفاده شده و در اختیار افراد حقیقی/حقوقی دیگری قرار نمی گیرد. همچنین در صورت درخواست کاربر اطلاعات قبلی پاک شده و پس از آن این اطلاعات جمع آوری نمی گردد.
                در صورت بروز وقفه (Crashes) نیز اطلاعات زیر جهت مطالعه علت بروز وققه و رفع خطا جمع آوری می گردد:
                وضعیت روت بودن یا نبودن دستگاه، میزان کل رم و میزان فضای پر آن هنگام وقفه، روز و ساعت  رخدادها، خاموش یا روشن بودن شبکه بی‌سیم، خاموش یا روشن بودن شبکه دیتا، خاموش یا روشن بودن وضعیت رومینگ.

            </p>
            <p>
                بهتاتهویه  اطلاعات را توسط کوکی (cookie) جمع آوری می کند. کوکی فایلی است که به درخواست یک سایت، توسط مرورگر ایجاد می‌شود و به سایت امکان ذخیره بازدید‌های شما و مناسب‌سازی آنها را فراهم می‌نماید. بسیاری از مرورگرها امکان غیرفعال کردن کوکی را فراهم کرده‌اند، به این منظور می‌توانید راهنمای مرورگرها را مطالعه کنید.
            </p>
            <p>
                بهتاتهویه  برای اطلاع‌رسانی رویدادها و اخبار، خدمات و سرویس‌های ویژه و تخفیف ها، برای اعضای وب‌سایت ایمیل یا پیامک ارسال می نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل‌ها و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه بهتاتهویه  را در پروفایل خود لغو کنند. عدم اقدام جهت لغو، به منزله موافقت ضمنی با دریافت ایمیل‌ها و پیام‌ها و سلب حق اعتراض است.
            </p>
            <p>
                بهتاتهویه  بنا بر قرارداد و تعهدی که با نهادها و سازمان های دیگر و یا با پلتفرم های رابط تبلیغات آنلاین دارد، مطالبی را که صرفا "تبلیغات" محسوب می شود را در پلتفرم های خود، نظیر وبسایت، اپلیکیشن، شبکه های اجتماعی و ... منتشر کرده و نمایش می دهد. کاربران عزیز توجه داشته باشند که این گونه مطالب به هیچ عنوان ارتباطی با برند بهتاتهویه  و متعلقات آن نداشته و بهتاتهویه  محتوای این مطالب را تأیید یا رد نمی کند.
            </p>
            <!--        <p>-->
            <!--            توجه داشته باشید که 300061930007، 300061930000، 1000619300 و 100061930000 شماره‌هایی است که بهتاتهویه  از طریق آن برای کاربران و مشتریان خود پیامک (اس‌ام‌اس) ارسال می‌کند. همچنین این شماره‌‌ها، سامانه ارسال پیامک است که وضعیت پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه بهتاتهویه  را به اطلاع کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق آن وجود ندارد.-->
            <!--        </p>-->
            <!--        <p>-->
            <!--            همچنین ممکن است بهتاتهویه  از طریق شماره 300061930002 برای برخی کاربران یا مشتریان خود، سوال نظرسنجی ارسال کند.-->
            <!--        </p>-->
            <!--        <p>-->
            <!--            بنابراین ارسال هرگونه پیامک تحت عنوان بهتاتهویه ، با هر شماره دیگری تخلف و سوء استفاده از نام بهتاتهویه  است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به info@behtatahvie.com اطلاع دهید.-->
            <!--        </p>-->
            <p>
                بهتاتهویه  ممکن است نقد و نظرهای ارسالی کاربران را در راستای رعایت قوانین وب سایت ویرایش کند. همچنین اگر نظر یا پیام ارسال شده توسط کاربر، مشمول مصادیق محتوای مجرمانه است، بهتاتهویه  می‌تواند از اطلاعات ثبت‌شده برای پیگیری قانونی استفاده کند. کاربران ضمن استفاده از خدمات وب‌سایت بهتاتهویه ، حق ویرایش اطلاعات و استفاده از آنها را در چارچوب فوق‌الذکر به بهتاتهویه  اعطا نموده و حق اعتراض را از خود سلب می‌نمایند.
            </p>
            <p>
                باید تاکید شود که حفظ و نگهداری رمز عبور و نام کاربری بر عهده کاربران است و لذا برای جلوگیری از هرگونه سواستفاده احتمالی، کاربران نباید آن اطلاعات را برای شخص دیگری فاش کنند. در صورتی که کاربر شماره همراه خود را به فردی دیگر واگذار کرد، جهت جلوگیری از سواستفاده یا مشکلات احتمالی کاربران باید شماره موبایل خود را در پروفایل تغییر داده و شماره جدیدی ثبت نمایند.
            </p>
            <p>
                مسئولیت هرگونه خسارت احتمالی که ناشی از عدم رعایت موارد فوق‌الذکر توسط کاربر است، با خود کاربر بوده وکاربر حق هر گونه ادعا علیه بهتاتهویه  را از خود سلب می‌کند. بهتاتهویه  هویت شخصی کاربران را محرمانه می‌داند و اطلاعات شخصی آنان را به هیچ شخص یا سازمان دیگری منتقل نمی‌کند، مگر اینکه با حکم مقام قضایی یا اداری صالحه یا طبق قوانین و مقررات رایج کشور موظف است در اختیار مراجع ذی‌صلاح قرار دهد.در این موارد هیچ گونه مسئولیت قانونی مبنی بر جبران خسارت برای بهتاتهویه  وجود ندارد و کاربران با اعلام رضایت خود در استفاده از خدمات ضمنا حق هرگونه اعتراض را از خود سلب نموده اند.
            </p>
            <p>
                همچنین بدین وسیله به اطلاع کاربران رسانده می‌شود که بهتاتهویه  همانند سایر وب‌سایت‌ها از جمع‌آوری ip و کوکی‌ها استفاده می‌کند. اما سرور بهتاتهویه  و روش‌های مناسب مدیریت داده‌ها حداکثر تلاش را به عمل می‌آورد که اطلاعات کاربران را محافظت و از دسترسی‌های غیرقانونی جلوگیری کند. طبیعتا مسئولیت هرگونه سواستفاده به شخص یا اشخاص متخلف مربوط بوده و
                <a href="/"> بهتاتهویه</a>
                حق اعتراض و پیگیری را از طریق قانونی بنابر صلاحدید خود محفوظ می‌دارد.
            </p>
            <p>
                در صورتی که تمایلی به دریافت ایمیل‌ها و خبرنامه‌های
                <a href="/"> بهتاتهویه</a>
                ندارید، می‌توانید بر روی کلمه لغو عضویت در انتهای صفحه ایمیل کلیک کنید.
            </p>
        </div>
    </div>

</div>

<div th:remove="tag" th:fragment="script"></div>

</body>
</html>