<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="author" content="بهتاتهویه">

    <!-- SEO Meta Tags -->
    <meta name="description" content="داشبورد بهتاتهویه - تامین کننده انواع چیلرهای صنعتی و تجاری، کولر گازی، تجهیزات تهویه مطبوع با بهترین قیمت در ایران.">
    <meta name="keywords" content=",تهویه مطبوع, کولر گازی, اسپیلت, چیلر, داکت, بهتا تهویه,بهتاتهویه, فروشگاه اینترنتی بهتاتهویه
    بهتاتهویه, فروشگاه اینترنتی بهتاتهویه, تهویه مطبوع, چیلر, کولر گازی, تجهیزات تهویه, درباره ما, خرید آنلاین تهویه مطبوع">

    <!-- Open Graph Meta Tags -->
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="بهتاتهویه -  داشبورد">
    <meta property="og:description" content="داشبورد بهتاتهویه - تامین کننده انواع چیلرهای صنعتی و تجاری، کولر گازی، تجهیزات تهویه مطبوع با بهترین قیمت در ایران.">
    <meta property="og:url" content="https://shop.behtatahvie.com/about">
    <meta property="og:site_name" content="فروشگاه اینترنتی بهتاتهویه">
    <meta property="og:image" content="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="بهتاتهویه -  داشبورد">
    <meta name="twitter:description" content="داشبورد بهتاتهویه - تامین کننده انواع چیلرهای صنعتی و تجاری، کولر گازی، تجهیزات تهویه مطبوع با بهترین قیمت در ایران.">
    <meta name="twitter:image" content="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png">

    <!-- Favicon -->
    <link rel="icon" href="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png" sizes="32x32">
    <link rel="icon" href="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://shop.behtatahvie.com/assets/media/logos/logo-1.png">
    <meta name="msapplication-TileImage" content="https://shop.behtatahvie.com/assets/behta_logo/BehtaTahvie.png">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://shop.behtatahvie.com/about">l-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>بهتاتهویه -  داشبورد</title>
    <link rel="stylesheet" href="css/style.fontawesome.css">
    <link rel="stylesheet" href="css/ekiticons.css">
    <link rel="stylesheet" href="css/happy.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/user-panel.css" type="text/css">
    <link rel="stylesheet" href="css/responsive.css" type="text/css">
</head>

<body id="dashboardPage">


    <div class="content">
        <h1 class="d-bugingg d-none">بهتاتهویه -  داشبورد</h1>

        <div class="panel-main col-9">
            <section id="user-info" class="col-5 box-shadow">
                <div class="user-info-header">
                    <span>اطلاعات کاربری</span>
                    <button id="user-edit" type="button" class="btn btn-outline-info">ویرایش اطلاعات</button>
                </div>
                <div class="user-info-main">
                    <div class="user-name">
                        <span>نام و نام خانوادگی:</span>
                        <span>مهرداد باغبان سعیدی راد</span>
                    </div>
                    <div class="user-phone">
                        <span>شماره تلفن همراه:</span>
                        <span>0915 122 5678</span>
                    </div>
                    <div class="user-email">
                        <span>پست الکترونیک:</span>
                        <span>-</span>
                    </div>
                </div>
            </section>
            <section id="last-interest" class="col-6 box-shadow">
                <div class="last-interest-header">
                    <span>لیست آخرین علاقه مندی ها</span>
                    <button id="interest-edit" type="button" class="btn btn-outline-info">مشاهده و ویرایش</button>
                </div>
                <div class="last-interest-main">
                    <div class="product-box">
                        <div class="product-item">
                            <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                            <div class="product-content">
                                <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                <div class="product-price">
                                    <span class="price">54,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                            <div class="product-content">
                                <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                <div class="product-price">
                                    <span class="price">54,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                            <div class="product-content">
                                <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                <div class="product-price">
                                    <span class="price">54,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="last-order" class="box-shadow">
                <div class="last-order-header">
                    <span>آخرین سفارش ها</span>
                        <button id="order-list" type="button" class="btn btn-outline-info">مشاهده لیست سفارش ها</button>
                </div>
                <div class="last-order-main">
                    <table id="last-order-table">
                        <thead>
                            <tr>
                                <th>شماره سفارش</th>
                                <th>تاریخ ثبت سفارش</th>
                                <th>مبلغ قابل پرداخت</th>
                                <th>مبلغ کل</th>
                                <th>وضعیت پرداخت</th>
                                <th>جزییات</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="order-no">8TM-۴۲۰۶۱۳۲۳</td>
                            <td class="order-date">۲۶ فروردین ۱۴۰۰</td>
                            <td class="order-nopay">0</td>
                            <td class="order-price">۳,۶۶۴,۰۰۰ تومان</td>
                            <td class="order-state"><span>پرداخت موفق</span></td>
                            <td><button type="button"><i class="fa fa-angle-left"></i></button></td>
                        </tr>
                        <tr>
                            <td class="order-no">8TM-۴۲۰۶۱۳۲۳</td>
                            <td class="order-date">۲۶ فروردین ۱۴۰۰</td>
                            <td class="order-nopay">0</td>
                            <td class="order-price">۳,۶۶۴,۰۰۰ تومان</td>
                            <td class="order-state failed"><span>پرداخت موفق</span></td>
                            <td><button type="button"><i class="fa fa-angle-left"></i></button></td>                        </tr>
                        <tr>
                            <td class="order-no">8TM-۴۲۰۶۱۳۲۳</td>
                            <td class="order-date">۲۶ فروردین ۱۴۰۰</td>
                            <td class="order-nopay">0</td>
                            <td class="order-price">۳,۶۶۴,۰۰۰ تومان</td>
                            <td class="order-state"><span>پرداخت موفق</span></td>
                            <td><button type="button"><i class="fa fa-angle-left"></i></button></td>                        </tr>
                        <tr>
                            <td class="order-no">8TM-۴۲۰۶۱۳۲۳</td>
                            <td class="order-date">۲۶ فروردین ۱۴۰۰</td>
                            <td class="order-nopay">0</td>
                            <td class="order-price">۳,۶۶۴,۰۰۰ تومان</td>
                            <td class="order-state failed"><span>پرداخت موفق</span></td>
                            <td><button type="button"><i class="fa fa-angle-left"></i></button></td>                        </tr>
                        <tr>
                            <td class="order-no">8TM-۴۲۰۶۱۳۲۳</td>
                            <td class="order-date">۲۶ فروردین ۱۴۰۰</td>
                            <td class="order-nopay">0</td>
                            <td class="order-price">۳,۶۶۴,۰۰۰ تومان</td>
                            <td class="order-state"><span>پرداخت موفق</span></td>
                            <td><button type="button"><i class="fa fa-angle-left"></i></button></td>                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>


</body>

</html>