<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سبد خرید</title>
    <link rel="stylesheet" href="css/style.fontawesome.css">
    <link rel="stylesheet" href="css/ekiticons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body id="cartPage" class="Page">

    <div class="content">
        <h1>سبد خرید</h1>

        <div class="cart-content">
            <section class="cart-products col-9">
                <div class="product-item box-shadow">
                    <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                    <div class="product-content">
                        <span class="product-title">پنیر خامه ای ویلی 200 گرمی بیضی کاله</span>
                        <div class="add-to-card-number">
                            <span id="inc-button" class="spinner-button"><i class="fa fa-plus"></i></span>
                            <input type="number" name="product-number" id="product-number" value="1" min="0" max="100"/>
                            <span id="dec-button" class="spinner-button"><i class="fa fa-minus"></i></span>
                        </div>
                    </div>
                    <div class="product-left">
                        <button type="button" id="product-delete"><i class="fa fa-trash"></i></button>
                        <div class="product-cost">
                            <div class="product-del">
                                <del>76,000 تومان</del>
                                <span class="percent">22%</span>
                            </div>
                            <div class="product-price">
                                <span class="price">54,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item box-shadow">
                    <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                    <div class="product-content">
                        <span class="product-title">پنیر خامه ای ویلی 200 گرمی بیضی کاله</span>
                        <div class="add-to-card-number">
                            <span id="inc-button" class="spinner-button"><i class="fa fa-plus"></i></span>
                            <input type="number" name="product-number" id="product-number" value="1" min="0" max="100"/>
                            <span id="dec-button" class="spinner-button"><i class="fa fa-minus"></i></span>
                        </div>
                    </div>
                    <div class="product-left">
                        <button type="button" id="product-delete"><i class="fa fa-trash"></i></button>
                        <div class="product-cost">
                            <div class="product-del">
                                <del>76,000 تومان</del>
                                <span class="percent">22%</span>
                            </div>
                            <div class="product-price">
                                <span class="price">54,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item box-shadow">
                    <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                    <div class="product-content">
                        <span class="product-title">پنیر خامه ای ویلی 200 گرمی بیضی کاله</span>
                        <div class="add-to-card-number">
                            <span id="inc-button" class="spinner-button"><i class="fa fa-plus"></i></span>
                            <input type="number" name="product-number" id="product-number" value="1" min="0" max="100"/>
                            <span id="dec-button" class="spinner-button"><i class="fa fa-minus"></i></span>
                        </div>
                    </div>
                    <div class="product-left">
                        <button type="button" id="product-delete"><i class="fa fa-trash"></i></button>
                        <div class="product-cost">
                            <div class="product-del">
                                <del>76,000 تومان</del>
                                <span class="percent">22%</span>
                            </div>
                            <div class="product-price">
                                <span class="price">54,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item box-shadow">
                    <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                    <div class="product-content">
                        <span class="product-title">پنیر خامه ای ویلی 200 گرمی بیضی کاله</span>
                        <div class="add-to-card-number">
                            <span id="inc-button" class="spinner-button"><i class="fa fa-plus"></i></span>
                            <input type="number" name="product-number" id="product-number" value="1" min="0" max="100"/>
                            <span id="dec-button" class="spinner-button"><i class="fa fa-minus"></i></span>
                        </div>
                    </div>
                    <div class="product-left">
                        <button type="button" id="product-delete"><i class="fa fa-trash"></i></button>
                        <div class="product-cost">
                            <div class="product-del">
                                <del>76,000 تومان</del>
                                <span class="percent">22%</span>
                            </div>
                            <div class="product-price">
                                <span class="price">54,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item box-shadow">
                    <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                    <div class="product-content">
                        <span class="product-title">پنیر خامه ای ویلی 200 گرمی بیضی کاله</span>
                        <div class="add-to-card-number">
                            <span id="inc-button" class="spinner-button"><i class="fa fa-plus"></i></span>
                            <input type="number" name="product-number" id="product-number" value="1" min="0" max="100"/>
                            <span id="dec-button" class="spinner-button"><i class="fa fa-minus"></i></span>
                        </div>
                    </div>
                    <div class="product-left">
                        <button type="button" id="product-delete"><i class="fa fa-trash"></i></button>
                        <div class="product-cost">
                            <div class="product-del">
                                <del>76,000 تومان</del>
                                <span class="percent">22%</span>
                            </div>
                            <div class="product-price">
                                <span class="price">54,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <aside class="cart-sidebar col-3">
                <div class="cart-order box-shadow">
                    <h6>سفارش شما</h6>
                    <div class="order-main">
                        <div class="order-item1">
                            <span>قیمت کالاها</span>
                            <span class="order-count">(4)</span>
                            <span class="order-price">1,696,000 تومان</span>
                        </div>
                        <div class="order-item2">
                            <span>تخفیف کالاها</span>
                            <span class="order-percent">(25%)</span>
                            <span class="order-off">419,700 تومان</span>
                        </div>
                        <div class="order-item3">
                            <span>جمع سبد خرید</span>
                            <span class="order-overall">1,276,300 تومان</span>
                        </div>
                    </div>
                    <button id="shopping" class="btn btn-info" type="button">ادامه فرآیند خرید</button>
                </div>
                <div class="cart-offer box-shadow">
                    <h6 class="cart-offer-title">محصولات پیشنهادی برای شما</h6>
                    <div id="cart-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="product-box">
                                    <div class="product-item">
                                        <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                                        <div class="product-content">
                                            <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                            <div class="product-footer">
                                                <div class="product-cart">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-cost">
                                                    <div class="product-del">
                                                        <del>76,000 تومان</del>
                                                        <span class="percent">22%</span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">54,000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                                        <div class="product-content">
                                            <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                            <div class="product-footer">
                                                <div class="product-cart">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-cost">
                                                    <div class="product-del">
                                                        <del>76,000 تومان</del>
                                                        <span class="percent">22%</span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">54,000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                                        <div class="product-content">
                                            <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                            <div class="product-footer">
                                                <div class="product-cart">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-cost">
                                                    <div class="product-del">
                                                        <del>76,000 تومان</del>
                                                        <span class="percent">22%</span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">54,000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="product-box">
                                    <div class="product-item">
                                        <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                                        <div class="product-content">
                                            <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                            <div class="product-footer">
                                                <div class="product-cart">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-cost">
                                                    <div class="product-del">
                                                        <del>76,000 تومان</del>
                                                        <span class="percent">22%</span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">54,000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                                        <div class="product-content">
                                            <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                            <div class="product-footer">
                                                <div class="product-cart">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-cost">
                                                    <div class="product-del">
                                                        <del>76,000 تومان</del>
                                                        <span class="percent">22%</span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">54,000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <figure><a href="#"><img src="images/BehtaTahvie.png" alt=" بهتاتهویه"></a></figure>
                                        <div class="product-content">
                                            <span><a href="#">آبنبات شیرین عسل با روکش کاکائویی بسته 25 عددی</a></span>
                                            <div class="product-footer">
                                                <div class="product-cart">
                                                    <a class="add-to-cart" href="#">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="product-cost">
                                                    <div class="product-del">
                                                        <del>76,000 تومان</del>
                                                        <span class="percent">22%</span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">54,000 تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#cart-carousel" data-slide="prev">
                            <span class="carousel-control-prev-icon fa fa-angle-left"></span>
                        </a>
                        <a class="carousel-control-next" href="#cart-carousel" data-slide="next">
                            <span class="carousel-control-next-icon fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="cart-button-mobile box-shadow">
        <div class="order-item4">
            <span>مبلغ قابل پرداخت</span>
            <big>1,276,300 تومان</big>
        </div>
        <button id="shopping" class="btn btn-info" type="button">ادامه فرآیند خرید</button>
    </div>




</body>

</html>